.post {
  display: flex;
  flex-direction: column;
  width: 750px;
  min-height: 300px;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px 1px rgba(5, 6, 7, 0.8);
  background-color: rgb(240, 240, 240);
  overflow: hidden;
}

.sidebar {
  float: right;
  display: flex;
  flex-direction: column;
  margin: 3px;
  max-width: fit-content;
  border-left: 3px solid rgb(204, 204, 204);
  border-bottom: 3px solid rgb(204, 204, 204);
}

.single-title {
  margin: 2px 10px;
  font-size: 50px;
  word-break: break-all;
}

.posted-by {
  margin: 2px 10px;
  font-size: 15px;
  opacity: 0.6;
}

.content {
  width: 100%;
  padding: 35px 10px 10px 10px;
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

.content-area {
  margin-top: 35px;
  padding: 8px;
  box-shadow: 3px 3px 10px rgba(5, 6, 7, 0.5);
  border: none;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
  word-wrap: break-word;
  outline-width: 0;
  resize: none;
  overflow-x: hidden;
  overflow-y: scroll;
}

.comments {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

@media (min-width: 576px) and (max-width: 768px) {
  .post {
    width: 550px;
  }
}

@media (max-width: 575.98px) {
  .post {
    width: 450px;
  }
}
